{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et excepturi iusto omnis optio qui reprehenderit sed?
    Adipisci atque consequuntur delectus et eveniet nesciunt sequi. Ab asperiores, aut consectetur debitis dolores,
    fugit illum impedit iste maiores obcaecati rerum similique, sit ullam.</p><p>Delectus dolore, earum eligendi impedit
    laboriosam laborum neque nesciunt odio praesentium provident quidem, veritatis voluptatem voluptates! Aliquid aut
    blanditiis corporis delectus deleniti enim error impedit ipsum labore laborum, molestias odit officiis, omnis porro
    praesentium quae quidem quos rem sequi similique?</p>

{% endblock %}
